
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
#myVideo {
    position:fixed;
    top: 0;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: -1;
}
body {
    color:black
}
a {
     
    color:black;
}

/*navigation links*/
.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width:500px;
    margin: 0 auto;
    margin-top:40px;
    text-align: center;

}
.menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;

    
}

/*fallback on this code for menu*/
/*.one a, .two a, .three a, .four {
    text-decoration: none;
    color:black;
}
*/


/*about me*/

.aboutme {
  width:700px;
  line-height: 30px;
  font-size: 18px ;
  margin-left: 40px;
  margin-top:80px;
}

/* work section*/

.worktitle {
    margin: 80px 40px 10px;
    font-weight: bold;
    font-size:20px;
    border-bottom: 0.5px dashed white;
}
.socials {
    display: flex;
    width: 150px;
    margin-left: 40px;;
    gap: 10px;
    

 }

 #github, #linkedin{
     flex: 1 ; 
 }

.work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 40px;
    margin-top: 20px;
    row-gap: 100px;
    
}


.one_1 {
    
    display:flex;
    gap: 10px;
    flex-direction:column;
}

/* contact section */
#contact {
    display: flex;
   
    margin: 40px;
    font-size: 20px;
    height:300px;
    flex:1;
    align-items: start;
    
}
.one_cell, .four_cell, .seven_cell {
    width:400px;
}

video {
    visibility: hidden;
}


