
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    color:black;
    margin: 0;
    
}



a {
     
    color:black;
}

/*navigation links*/
.header {
    background-color: black;
    height: 63px;
    position: sticky;
    width: 100%;
    display: flex;
    align-items: center;
    top: 0;
    
}
.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width:500px;
    margin: 0 auto; 
    text-align: center;
    
    
    
   
}
.menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;

}

/*fallback on this code for menu*/
/*.one a, .two a, .three a, .four {
    text-decoration: none;
    color:black;
}
*/


/*about me*/
.about img {
    width: 140px;
}
.about {
  width:700px;
  line-height: 30px;
  font-size: 16px ;
  margin-left: 40px;
  margin-top:40px;
}


/* work section*/

.worktitle {
    margin: 40px 40px 10px;
    font-size:18px;
}
.socials {
    display: flex;
    width: 150px;
    margin-left: 40px;;
    gap: 10px;
    

 }

 #github, #linkedin{
     flex: 1 ; 
 }


.workgrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 40px;
    margin-top: 20px;
   
}
.card_column_one {
    
    display:flex;
    flex-direction:column;
}

.one_cell, .four_cell, .seven_cell {
    width:300px;
}

/* contact section */
.contact {
    height:300px;
   
}
/* two column flex section */
.contact_area {
    display:flex;
    flex-direction: row;
    width: 500px;
    gap: 300px;
    margin: 0 auto;
   
    
}
/* first flex column section */
.contact_me{
    

}
/* second flex column section/grid */
.contact_sections {
    display:grid;
    gap:20px;
    
}
/*grid-items from .contact_sections  */
.name {
    width: fit-content;
    display:flex;
    flex-direction: column;

}
#name, #email, #message{
    

}
#message {
    resize: none;
    height:50px;
    width: fit-content;
}
#submit{
    padding:7px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
 
footer {
    text-align: center;
    height: 100px;

}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

footer a{
    text-decoration: none;
}

textarea{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}